# Stripe
STIPE_API_KEY=sk_test_51Iks0TBEZXvc6aZNp4qqgIKdSYUDorAP7rFyogtGQQKBgSEM8nI17JsyU3vXBs38hU2KKfkoiN1m5avkja5O9K6v00Ba9N57Xn
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000

# Github
GITHUB_CLIENT_ID=02712765da5c4908ae41
GITHUB_CLIENT_ID_SECRET=ae4851b9fc998b5b499c2cd08c516fd8f0ce3590

# FaunaDB
FAUNADB_KEY=fnAEJQ_oXmACARxOgnLD7e8o_dr-ChqY_g_qHKkN

                                                               